{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
<div class="bg-light p-3 form-row">
  <div class="col-md-6">
    <h1>Les produits</h1>
  </div>
  <div class="col-md-6 text-right">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="{{
          path('cart_index') }}">
          <i class="fa fa-shopping-basket" style="font-size:25px;"
            aria-hidden="true"></i>
          <span class="badge badge-success navbar-badge" id="colm">{{nombre
            }}</span>
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  {% for product in products %}
  <div class="col-4 mt-4">
    <div class="border border-dark rounded p-2 clearfix">
      <h2>
        {{ product.title }}
        -
        {{ product.price }}
        €
      </h2>
      <img class="img-fluid rounded" src="{{ asset('/uploads/' ~
        product.image)}}"
        alt="Image
        de {{ product.title }}">
      <hr>
      <a href="{{ path('cart_add',{'id':product.id})}}" class="btn
        btn-success float-right">
        <i class="fas fa-shopping-cart mr-1"></i>
        Ajouter
      </a>
    </div>

  </div>
  {% endfor %}
</div>
<div class="row mt-2">
  <div class="pagination">
    {{ knp_pagination_render(products) }}
  </div>
</div>

{% endblock %}
