{% extends 'base.html.twig' %}
{% block title %}Hello CartController!
{% endblock %}
{% block body %}
<div class="bg-light p-3">
  <h1>Votre panier</h1>
</div>
{% if paniers | length > 0 %}
<table class="table">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for panier in paniers %}
    <tr>
      <input type="hidden" id='id' value="{{panier.product.id}}">
      <td>{{ panier.product.title}}</td>
      <td>{{ panier.product.price}}</td>
      <td>{{ panier.quantity}}</td>
      <td>{{ panier.product.price * panier.quantity }}</td>
      <td>
        <a href="{{path('cart_remove', {'id':panier.product.id })}}"
          title="Ajouter" class="btn
          btn-primary btn-sm">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>&nbsp;&nbsp;
        <a href="{{path('cart_remove', {'id':panier.product.id })}}"
          title="Suprimer ma commande" id="add" class="btn
          btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-right">Total :</td>
      <strong><td>{{ total}}</td></strong>
      <td>
        <a href="#" title="Valider ma commande" class="btn btn-success btn-sm">
          <i class="fa fa-check" style="font-size: 25px;color:green"
            aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tfoot>
</table>
{% else %}
<p>Le panier est actuellement vide!</p>
{% endif %}
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  /* pour gerer le bouton edit */
  function AddQuantity(event) {
    event.preventDefault();

    $.ajax({
      url:'/panier/add/{id}',
      cache: false,
      success: function (html) {
        afficher(html);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("textStatus");
      }
    });
    return false;
  }

  document.querySelectorAll("a#add").forEach(function (lien) {
      lien.addEventListener("click", AddQuantity);
    });
</script>
{% endblock %}
